* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f6f5ed;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 160px;
  line-height: 140px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
  width: 80px;
}

a.a:hover {
  color: #4078c0;
  fill: #4078c0;
}

a.k:hover {
  color: #597da3;
  fill: #597da3;
}

a.x:hover {
  color: #125688;
  fill: #125688;
}

a.c:hover {
  color: #55acee;
  fill: #55acee;
}

a.v {
  position: relative;
  fill: none;
}

a.v:hover {
  color: #cf0303;
  fill: #cf0303;
}

#eyes {
  width: 46px;
  height: 8px;
  position: absolute;
  top: 15px;
  left: 17px;
}

svg {
  display: block;
  height: 70px;
  width: 70px;
}

.transform {
  -moz-transform: scale(4.21);
  -o-transform: scale(4.21);
  -ms-transform: scale(4.21);
  -webkit-transform: scale(4.21);
  transform: scale(4.21);
}

@media (max-width: 450px) {
  a {
    width: 47px;
  }

  span {
    font-size: 100px;
    line-height: 100px;
  }

  svg {
    height: 40px;
    width: 40px;
  }

  .transform {
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }

  #eyes {
    display: none;
  }
}
